.page {
    display: flex;
    padding: 20px;
    background-size: 10px 10px;
    background-color: #0d0d0d;
    background-image: radial-gradient(#000000 1px, transparent 1px);
    height: 100vh;
}

.sidebar {
    border: 1px solid black;
    background: rgba(0,0,0,0.4);
    margin-right: 15px;
    width: 250px;
    height: max-content;
    overflow: auto;
}

.content{
    margin: 16px;
    height: max-content;
}

main {
    flex: 1;
    border: 1px solid black;
    background: rgba(0,0,0,0.4);
    overflow: auto;
    scrollbar-color: #000 #111;
    scrollbar-arrow-color: #000 #111;
}

.top-row {
    background: rgba(0,0,0,0.4);
    justify-content: flex-end;
    height: 3rem;
    display: flex;
    align-items: center;
}

.top-row ::deep a, .top-row ::deep .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}

.top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
    text-decoration: underline;
}